.logo {
    width: 300px;
    margin-left: 38%;
    margin-top: 10%;
}
body {
    background: url(background.png) no-repeat;
    color: white;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(0, 183, 255);
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
.btn {
    border: 1px solid #00B7FF;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    cursor: pointer;
    overflow: hidden;
    background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}
.btn1{
    color: #00B7FF;
    margin: center; 
    margin-left: 35%;
    opacity: 0.6;
    cursor: not-allowed;
}
.btn2{
    color: #00B7FF;
    margin: center; 
    margin-left: 15%;  
}
.btn1:hover,.btn2:hover{
    background-color: #4F87A2;
	border-color: rgba(0,0,0,0.5);;
}
.btn1:active,.btn2:active{
    background-color: #3C677B;
	border-color: rgba(0,0,0,0.9);
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
height: 0%;
background: #3498db;
z-index: -1;
transition: 0.8s;
}
.btn1::before,.btn2::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
a {
    text-decoration: none;
    color: #00B7FF;
    }
    a:visited {
    text-decoration: none;
    color: #00B7FF;
    }
